.loginform__container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  .login__form {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .login__button {
    border: none;
    color: white;
    background-color: black;
    padding: 1rem 0;
    width: 18rem;
    border-radius: 2rem;
    font-size: 1em;
    margin-top: 2rem;
  }
  
  .loginbutton__container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
    
    /* input,
    button {
      font-size: 1.2rem;
      padding: 0.5rem;
      border: none;
      border-radius: 0.3rem;
    } */
    
    /* input:focus {
      outline: none;
      box-shadow: 0 0 2px 2px #5a5a5a;
    }
    
    button {
      background-color: #008080;
      color: white;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #005454;
    }
    
    button:active {
      background-color: #00b3b3;
    } */
    